{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}| Welcome!{% endblock %}


{% block main %}
    <main>
        <section class="date">
            <div id="date">
                <div>Date du jour : {{ "now" | date("d/m/Y") }}</div>
                <div>Participant : {{ app.user.username }}</div>
            </div>
        </section>
        {{ form_start(filterForm) }}
        <section class="filter">
            <section id="left">
                <div>
                    {{ form_row(filterForm.campus) }}
                </div>
                <div>
                    {{ form_row(filterForm.keyword) }}
                </div>
                <div>
                    {{ form_row(filterForm.dateDebut) }}
                </div>
                <div>
                    {{ form_row(filterForm.dateFin) }}
                </div>
            </section>
            <section id="center">
                <div>
                    {{ form_row(filterForm.isOrganisateur) }}
                </div>
                <div>
                    {{ form_row(filterForm.isInscrit) }}
                </div>
                <div>
                    {{ form_row(filterForm.isNotInscrit) }}
                </div>
                <div>
                    {{ form_row(filterForm.isFinished) }}
                </div>
            </section>
            <section id="right">
                <button id="btnRechercherSortie" type="submit" class="btn btn-success">
                    Rechercher
                </button>
            </section>
        </section>
        {{ form_end(filterForm) }}
        <section>
            <table class="table table-striped">
                <thead>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                </thead>
                {% for sortie in sorties %}
                    <tbody>
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("m/d/Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("m/d/Y")}}</td>
                        <td>2/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>X</td>
                        <td>{{ sortie.organisateur.username }}</td>
                        <td>Afficher</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </section>
        <section>
            <a type="button" class="btn btn-success" href="{{ path('outing_create') }}">Créer une sortie</a>
        </section>
    </main>
{% endblock %}
