{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}| Welcome!{% endblock %}


{% block main %}
    <main>
        <section class="date">
            <div id="date">
                <div>Date du jour : {{ "now" | date("d/m/Y") }}</div>
                <div>Participant : {{ app.user.prenom|capitalize }} {{ app.user.nom|slice(0, 1) }}.</div>
            </div>
        </section>
        {{ form_start(filterForm) }}
        <section class="filter">
            <section id="left">
                <div>
                    {{ form_row(filterForm.campus) }}
                </div>
                <div>
                    {{ form_row(filterForm.keyword) }}
                </div>
                <div>
                    {{ form_row(filterForm.dateDebut) }}
                </div>
                <div>
                    {{ form_row(filterForm.dateFin) }}
                </div>
            </section>
            <section id="center">
                <div>
                    {{ form_row(filterForm.isOrganisateur) }}
                </div>
                <div>
                    {{ form_row(filterForm.isInscrit) }}
                </div>
                <div>
                    {{ form_row(filterForm.isNotInscrit) }}
                </div>
                <div>
                    {{ form_row(filterForm.isFinished) }}
                </div>
            </section>
            <section id="right">
                <button id="btnRechercherSortie" type="submit" class="btn btn-success">
                    Rechercher
                </button>
            </section>
        </section>
        {{ form_end(filterForm) }}
        <section>
            <table class="table table-striped">
                <thead>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                </thead>
                {% for sortie in sorties %}
                    <tbody>
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% for inscription in inscriptions %}{% if inscription.sortie.id == sortie.id and inscription.participant.id == app.user.id %}
                                <a>X</a>{% else %}<a></a>{% endif %}{% endfor %}</td>
                        <td>{{ sortie.organisateur.username }}</td>
                        <td>
                            {% if (sortie.etat.libelle =='Ouverte') and
                                (sortie.organisateur.username != app.user.username) and
                                (sortie.dateLimiteInscription>date()) %}
                                {% for inscription in inscriptions %}{% if inscription.participant.id != app.user.id %}
                                    <a href="{{ path('subscribe', {'id':sortie.id}) }}">S'inscrire</a>
                                {% endif %} {% endfor %} / {% for inscription in inscriptions %}{% if inscription.sortie.id == sortie.id and inscription.participant.id == app.user.id %}
                                <a href="{{ path('cancel_subscribe', {'id':inscription.id}) }}">Se désister</a>{% endif %}{% endfor %} /
                            {% endif %}

                            {#{% for participant in participants %}
                                {% if (id == app.user.id) %}
                            <a href ="{{ path('outing_show', {id: sortie.id })}}">Afficher</a>
                                {% endif %}
                            {% endfor %}#}
                            {% if (sortie.etat.libelle !='Créée') %}
                                <a href="{{ path('outing_show', {id: sortie.id }) }}">Afficher</a> /
                            {% endif %}
                            {% if (sortie.organisateur.username == app.user.username) and
                                (sortie.etat.libelle=='Ouverte') and
                                (sortie.dateHeureDebut>date()) %}
                                <a href="{{ path('outing_cancel', {id: sortie.id }) }}">Annuler</a>
                            {% endif %}
                            {% if (sortie.etat.libelle =='Créée') and (sortie.organisateur.username == app.user.username) %}
                                <a href="{{ path('outing_publish', {id: sortie.id }) }}">Publier</a> /
                            {% endif %}
                            {% if (sortie.etat.libelle =='Créée') and
                                (sortie.organisateur.username == app.user.username) and
                                (sortie.dateHeureDebut>date()) %}
                                <a href="{{ path('outing_edit', {id: sortie.id }) }}">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </section>
        <section>
            <a type="button" class="btn btn-success" href="{{ path('outing_create') }}">Créer une sortie</a>
        </section>
    </main>
{% endblock %}
