{% extends 'base.html.twig' %}
{% form_theme formSortie 'bootstrap_4_layout.html.twig'  %}


{% block main %}
    <h2>Modifier une sortie</h2>
    {{ form(formSortie) }}




    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a type="submit" class="btn btn-success href ="{{ path('outing_publish', {id: sortie.id })}}">Publier</a>
    <a  type="submit" class="btn btn-success" href ="{{ path('outing_cancel', {id: sortie.id })}}">Supprimer la sortie</a>
    <a type="button" class="btn btn-danger" href="{{ path('home') }}">Annuler</a>

{% endblock %}

{% block title %} Modifier une sortie ! | {{ parent() }} {% endblock %}