{% extends 'base.html.twig' %}
{% block main %}
    {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                {% if participant.filename %}
                                    <div class="col-sm-6 text-right">
                                        <img class="" src="{{ vich_uploader_asset(participant, 'imageFile') }}" alt="Card image cap" width="300px">
                                    </div>
                                {% endif %}
                                <div class="col-sm-6">
                                    <h5 class="card-title">{{ participant.username }}</h5>
                                    <p class="card-text">{{ 'Prénom: '~participant.prenom }}</p>
                                    <p class="card-text">{{ 'Nom: '~participant.nom }}</p>
                                    <p class="card-text">{{ 'Téléphone: '~participant.telephone }}</p>
                                    <p class="card-text">{{ 'Email: '~participant.mail }}</p>
                                    <p class="card-text">{{ 'Campus: '~participant.campus.nom }}</p>
                                    <p></p>
                                    <a href="{{ path('profile_edit', {'id':participant.id}) }}" class="btn btn-primary">Modifier mon profil</a>
                                    <a type="button" class="btn btn-danger" href="{{ path('home') }}">Retour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block title %}{{ parent()}}| Détail du profil{% endblock %}
